In [1]:
x = 1
y = 2
x + y

3

In [2]:
def add_members(x,y):
    return x + y
add_members(1, 3)

4

In [3]:
def add_numbers(x, y, z = None):
    if (z == None):
        return x + y
    else:
        return x + y + z
print (add_numbers(1,2))
print (add_numbers(1,2,3))

3
6

In [4]:
def add_numbers(x, y, z = None, flag = False):
    if(flag):
        print("Flag is True")
    if (z == None):
        return x + y
    else:
        return x + y + z
print(add_numbers(1, 2, flag = True))

Flag is True
3

In [5]:
x = (1, 'a', 2)
type(x)

tuple

In [6]:
x = [1, 'a', 20]
type(x)

list

In [7]:
x.append(3.3)
print(x)

[1, 'a', 20, 3.3]

In [8]:
for item in x:
    print(item)

1
a
20
3.3

In [9]:
i = 0
while ( i != len(x)):
    print(x[i])
    i = i + 1

1
a
20
3.3

In [14]:
x = 'This is a string'
print(x[0])
print(x[0:1])
print(x[0:2])

T
T
Th

In [16]:
x[-5]

't'

In [23]:
x[-8:-1]

'a strin'

In [26]:
x = {'Christopher Brooks': 'brooksch@unich.edu', 'Bill Gates': 'billg@microsoft.com'}
x['Christopher Brooks']

'brooksch@unich.edu'

In [27]:
x['Kevin Collins-Thompson'] = None
x['Kevin Collins-Thompson']

In [28]:
for name in x:
    print(x[name])

brooksch@unich.edu
billg@microsoft.com
None

In [29]:
for name, email in x.items():
    print(name)
    print(email)

Christopher Brooks
brooksch@unich.edu
Bill Gates
billg@microsoft.com
Kevin Collins-Thompson
None

In [30]:
x = ('Christopher', 'Brooks', 'broooksch@unich.edu')
fname, lname, email = x

In [31]:
fname

'Christopher'

In [32]:
lname

'Brooks'

In [37]:
print('Chris' + str(2))

Chris2

In [46]:
sales_record = {'price': 3.24,
                   'num_items': 4,
                   'Buyer': 'Chris'}
sales_statement = '{} bought {} item(s) at a price of {} each for a total {}'
print(sales_statement.format(sales_record['Buyer'],
                            sales_record['num_items'],
                            sales_record['price'],
                            sales_record['price'] *sales_record ['num_items']))

Chris bought 4 item(s) at a price of 3.24 each for a total 12.96

In [52]:
import csv
%precision 2
with open('mpg.csv') as csvfile:
    mpg = list(csv.DictReader(csvfile))

mpg[:3]

[OrderedDict([('mpg', '18'),
              ('cylinders', '8'),
              ('displacement', '307'),
              ('horsepower', '130'),
              ('weight', '3504'),
              ('acceleration', '12'),
              ('model_year', '70'),
              ('origin', '1'),
              ('name', 'chevrolet chevelle malibu')]),
 OrderedDict([('mpg', '15'),
              ('cylinders', '8'),
              ('displacement', '350'),
              ('horsepower', '165'),
              ('weight', '3693'),
              ('acceleration', '11.5'),
              ('model_year', '70'),
              ('origin', '1'),
              ('name', 'buick skylark 320')]),
 OrderedDict([('mpg', '18'),
              ('cylinders', '8'),
              ('displacement', '318'),
              ('horsepower', '150'),
              ('weight', '3436'),
              ('acceleration', '11'),
              ('model_year', '70'),
              ('origin', '1'),
              ('name', 'plymouth satellite')])]

In [53]:
len(mpg)

398

In [54]:
mpg[0].keys()

odict_keys(['mpg', 'cylinders', 'displacement', 'horsepower', 'weight', 'acceleration', 'model_year', 'origin', 'name'])

In [56]:
sum(float(d['cylinders']) for d in mpg) / len(mpg)

5.45

In [57]:
cyl = set(d['cylinders'] for d in mpg)
cyl

{'3', '4', '5', '6', '8'}

In [64]:
CtympgBycylinder = []
for c in cyl:
    summpg = 0
    cylindertypercount = 0
    for d in mpg:
        if d['cylinders'] == c:
            summpg += float(d['model_year'])
            cylindertypercount += 1
    CtympgBycylinder.append((c, summpg/cylindertypercount))
CtympgBycylinder.sort(key=lambda x: x[0])
CtympgBycylinder

[('3', 75.50), ('4', 77.07), ('5', 79.00), ('6', 75.93), ('8', 73.90)]

In [69]:
vehiclename = set(d['name'] for d in mpg)
vehiclename

{'amc ambassador brougham',
 'amc ambassador dpl',
 'amc ambassador sst',
 'amc concord',
 'amc concord d/l',
 'amc concord dl',
 'amc concord dl 6',
 'amc gremlin',
 'amc hornet',
 'amc hornet sportabout (sw)',
 'amc matador',
 'amc matador (sw)',
 'amc pacer',
 'amc pacer d/l',
 'amc rebel sst',
 'amc spirit dl',
 'audi 100 ls',
 'audi 100ls',
 'audi 4000',
 'audi 5000',
 'audi 5000s (diesel)',
 'audi fox',
 'bmw 2002',
 'bmw 320i',
 'buick century',
 'buick century 350',
 'buick century limited',
 'buick century luxus (sw)',
 'buick century special',
 'buick electra 225 custom',
 'buick estate wagon (sw)',
 'buick lesabre custom',
 'buick opel isuzu deluxe',
 'buick regal sport coupe (turbo)',
 'buick skyhawk',
 'buick skylark',
 'buick skylark 320',
 'buick skylark limited',
 'cadillac eldorado',
 'cadillac seville',
 'capri ii',
 'chevroelt chevelle malibu',
 'chevrolet bel air',
 'chevrolet camaro',
 'chevrolet caprice classic',
 'chevrolet cavalier',
 'chevrolet cavalier 2-door',
 'chevrolet cavalier wagon',
 'chevrolet chevelle concours (sw)',
 'chevrolet chevelle malibu',
 'chevrolet chevelle malibu classic',
 'chevrolet chevette',
 'chevrolet citation',
 'chevrolet concours',
 'chevrolet impala',
 'chevrolet malibu',
 'chevrolet malibu classic (sw)',
 'chevrolet monte carlo',
 'chevrolet monte carlo landau',
 'chevrolet monte carlo s',
 'chevrolet monza 2+2',
 'chevrolet nova',
 'chevrolet nova custom',
 'chevrolet vega',
 'chevrolet vega (sw)',
 'chevrolet vega 2300',
 'chevrolet woody',
 'chevy c10',
 'chevy c20',
 'chevy s-10',
 'chrysler cordoba',
 'chrysler lebaron medallion',
 'chrysler lebaron salon',
 'chrysler lebaron town @ country (sw)',
 'chrysler new yorker brougham',
 'chrysler newport royal',
 'datsun 1200',
 'datsun 200-sx',
 'datsun 200sx',
 'datsun 210',
 'datsun 210 mpg',
 'datsun 280-zx',
 'datsun 310',
 'datsun 310 gx',
 'datsun 510',
 'datsun 510 (sw)',
 'datsun 510 hatchback',
 'datsun 610',
 'datsun 710',
 'datsun 810',
 'datsun 810 maxima',
 'datsun b-210',
 'datsun b210',
 'datsun b210 gx',
 'datsun f-10 hatchback',
 'datsun pl510',
 'dodge aries se',
 'dodge aries wagon (sw)',
 'dodge aspen',
 'dodge aspen 6',
 'dodge aspen se',
 'dodge challenger se',
 'dodge charger 2.2',
 'dodge colt',
 'dodge colt (sw)',
 'dodge colt hardtop',
 'dodge colt hatchback custom',
 'dodge colt m/m',
 'dodge coronet brougham',
 'dodge coronet custom',
 'dodge coronet custom (sw)',
 'dodge d100',
 'dodge d200',
 'dodge dart custom',
 'dodge diplomat',
 'dodge magnum xe',
 'dodge monaco (sw)',
 'dodge monaco brougham',
 'dodge omni',
 'dodge rampage',
 'dodge st. regis',
 'fiat 124 sport coupe',
 'fiat 124 tc',
 'fiat 124b',
 'fiat 128',
 'fiat 131',
 'fiat strada custom',
 'fiat x1.9',
 'ford country',
 'ford country squire (sw)',
 'ford escort 2h',
 'ford escort 4w',
 'ford f108',
 'ford f250',
 'ford fairmont',
 'ford fairmont (auto)',
 'ford fairmont (man)',
 'ford fairmont 4',
 'ford fairmont futura',
 'ford fiesta',
 'ford futura',
 'ford galaxie 500',
 'ford gran torino',
 'ford gran torino (sw)',
 'ford granada',
 'ford granada ghia',
 'ford granada gl',
 'ford granada l',
 'ford ltd',
 'ford ltd landau',
 'ford maverick',
 'ford mustang',
 'ford mustang cobra',
 'ford mustang gl',
 'ford mustang ii',
 'ford mustang ii 2+2',
 'ford pinto',
 'ford pinto (sw)',
 'ford pinto runabout',
 'ford ranger',
 'ford thunderbird',
 'ford torino',
 'ford torino 500',
 'hi 1200d',
 'honda accord',
 'honda accord cvcc',
 'honda accord lx',
 'honda civic',
 'honda civic (auto)',
 'honda civic 1300',
 'honda civic 1500 gl',
 'honda civic cvcc',
 'honda prelude',
 'maxda glc deluxe',
 'maxda rx3',
 'mazda 626',
 'mazda glc',
 'mazda glc 4',
 'mazda glc custom',
 'mazda glc custom l',
 'mazda glc deluxe',
 'mazda rx-4',
 'mazda rx-7 gs',
 'mazda rx2 coupe',
 'mercedes benz 300d',
 'mercedes-benz 240d',
 'mercedes-benz 280s',
 'mercury capri 2000',
 'mercury capri v6',
 'mercury cougar brougham',
 'mercury grand marquis',
 'mercury lynx l',
 'mercury marquis',
 'mercury marquis brougham',
 'mercury monarch',
 'mercury monarch ghia',
 'mercury zephyr',
 'mercury zephyr 6',
 'nissan stanza xe',
 'oldsmobile cutlass ciera (diesel)',
 'oldsmobile cutlass ls',
 'oldsmobile cutlass salon brougham',
 'oldsmobile cutlass supreme',
 'oldsmobile delta 88 royale',
 'oldsmobile omega',
 'oldsmobile omega brougham',
 'oldsmobile starfire sx',
 'oldsmobile vista cruiser',
 'opel 1900',
 'opel manta',
 'peugeot 304',
 'peugeot 504',
 'peugeot 504 (sw)',
 'peugeot 505s turbo diesel',
 'peugeot 604sl',
 "plymouth 'cuda 340",
 'plymouth arrow gs',
 'plymouth champ',
 'plymouth cricket',
 'plymouth custom suburb',
 'plymouth duster',
 'plymouth fury',
 'plymouth fury gran sedan',
 'plymouth fury iii',
 'plymouth grand fury',
 'plymouth horizon',
 'plymouth horizon 4',
 'plymouth horizon miser',
 'plymouth horizon tc3',
 'plymouth reliant',
 'plymouth sapporo',
 'plymouth satellite',
 'plymouth satellite custom',
 'plymouth satellite custom (sw)',
 'plymouth satellite sebring',
 'plymouth valiant',
 'plymouth valiant custom',
 'plymouth volare',
 'plymouth volare custom',
 'plymouth volare premier v8',
 'pontiac astro',
 'pontiac catalina',
 'pontiac catalina brougham',
 'pontiac firebird',
 'pontiac grand prix',
 'pontiac grand prix lj',
 'pontiac j2000 se hatchback',
 'pontiac lemans v6',
 'pontiac phoenix',
 'pontiac phoenix lj',
 'pontiac safari (sw)',
 'pontiac sunbird coupe',
 'pontiac ventura sj',
 'renault 12 (sw)',
 'renault 12tl',
 'renault 18i',
 'renault 5 gtl',
 'renault lecar deluxe',
 'saab 99e',
 'saab 99gle',
 'saab 99le',
 'subaru',
 'subaru dl',
 'toyota carina',
 'toyota celica gt',
 'toyota celica gt liftback',
 'toyota corolla',
 'toyota corolla 1200',
 'toyota corolla 1600 (sw)',
 'toyota corolla liftback',
 'toyota corolla tercel',
 'toyota corona',
 'toyota corona hardtop',
 'toyota corona liftback',
 'toyota corona mark ii',
 'toyota cressida',
 'toyota mark ii',
 'toyota starlet',
 'toyota tercel',
 'toyouta corona mark ii (sw)',
 'triumph tr7 coupe',
 'vokswagen rabbit',
 'volkswagen 1131 deluxe sedan',
 'volkswagen 411 (sw)',
 'volkswagen dasher',
 'volkswagen jetta',
 'volkswagen model 111',
 'volkswagen rabbit',
 'volkswagen rabbit custom',
 'volkswagen rabbit custom diesel',
 'volkswagen rabbit l',
 'volkswagen scirocco',
 'volkswagen super beetle',
 'volkswagen type 3',
 'volvo 144ea',
 'volvo 145e (sw)',
 'volvo 244dl',
 'volvo 245',
 'volvo 264gl',
 'volvo diesel',
 'vw dasher (diesel)',
 'vw pickup',
 'vw rabbit',
 'vw rabbit c (diesel)',
 'vw rabbit custom'}

In [71]:
HwympgByName= []

for t in vehiclename:
    summpg = 0
    vnamecount = 0
    for d in mpg:
        if d['name'] == t:
            summpg += float(d['acceleration'])
            vnamecount += 1
    HwympgByName.append((t, summpg/vnamecount))
HwympgByName.sort(key=lambda x: x[1])
HwympgByName

[("plymouth 'cuda 340", 8.00),
 ('amc ambassador dpl', 8.50),
 ('pontiac grand prix', 9.50),
 ('chevrolet monte carlo', 9.50),
 ('dodge challenger se', 10.00),
 ('ford torino', 10.50),
 ('amc ambassador brougham', 11.00),
 ('chrysler new yorker brougham', 11.00),
 ('buick electra 225 custom', 11.00),
 ('mercury marquis', 11.00),
 ('dodge dart custom', 11.00),
 ('plymouth satellite', 11.00),
 ('oldsmobile omega', 11.00),
 ('pontiac grand prix lj', 11.10),
 ('pontiac catalina', 11.17),
 ('ford futura', 11.20),
 ('datsun 280-zx', 11.40),
 ('mercury marquis brougham', 11.50),
 ('amc ambassador sst', 11.50),
 ('dodge monaco (sw)', 11.50),
 ('buick skylark 320', 11.50),
 ('pontiac catalina brougham', 11.50),
 ('dodge rampage', 11.60),
 ('plymouth fury iii', 11.67),
 ('chevrolet impala', 11.75),
 ('chevy c10', 12.00),
 ('pontiac safari (sw)', 12.00),
 ('ford mustang ii', 12.00),
 ('amc rebel sst', 12.00),
 ('cadillac seville', 12.10),
 ('ford galaxie 500', 12.17),
 ('chrysler cordoba', 12.20),
 ('chevrolet monte carlo landau', 12.30),
 ('buick estate wagon (sw)', 12.45),
 ('bmw 2002', 12.50),
 ('oldsmobile vista cruiser', 12.50),
 ('chrysler newport royal', 12.50),
 ('dodge coronet custom', 12.50),
 ('ford country', 12.50),
 ('mazda rx-7 gs', 12.50),
 ('toyota cressida', 12.60),
 ('bmw 320i', 12.80),
 ('mercury monarch ghia', 12.80),
 ('oldsmobile omega brougham', 12.90),
 ('buick century 350', 13.00),
 ('dodge coronet brougham', 13.00),
 ('chevrolet monte carlo s', 13.00),
 ('plymouth custom suburb', 13.00),
 ('chrysler lebaron town @ country (sw)', 13.00),
 ('dodge charger 2.2', 13.00),
 ('volkswagen rabbit', 13.10),
 ('ford country squire (sw)', 13.15),
 ('plymouth volare premier v8', 13.20),
 ('plymouth horizon', 13.20),
 ('dodge diplomat', 13.20),
 ('mercury grand marquis', 13.20),
 ('ford ltd', 13.25),
 ('chevrolet caprice classic', 13.30),
 ('buick regal sport coupe (turbo)', 13.40),
 ('ford ltd landau', 13.40),
 ('chevrolet citation', 13.47),
 ('dodge coronet custom (sw)', 13.50),
 ('buick lesabre custom', 13.50),
 ('oldsmobile delta 88 royale', 13.50),
 ('amc hornet sportabout (sw)', 13.50),
 ('maxda rx3', 13.50),
 ('mazda rx-4', 13.50),
 ('dodge d200', 13.50),
 ('chevrolet monza 2+2', 13.50),
 ('mazda rx2 coupe', 13.50),
 ('volvo 264gl', 13.60),
 ('dodge monaco brougham', 13.70),
 ('dodge magnum xe', 13.70),
 ('saab 99le', 13.75),
 ('chevrolet chevelle malibu', 13.75),
 ('ford gran torino', 13.77),
 ('honda civic 1500 gl', 13.80),
 ('datsun 810 maxima', 13.80),
 ('toyota celica gt', 13.90),
 ('fiat 124 tc', 14.00),
 ('mercury capri 2000', 14.00),
 ('ford f250', 14.00),
 ('amc matador (sw)', 14.00),
 ('vw rabbit custom', 14.00),
 ('mercury capri v6', 14.00),
 ('dodge d100', 14.00),
 ('chevrolet bel air', 14.00),
 ('chevrolet chevelle concours (sw)', 14.00),
 ('plymouth satellite custom (sw)', 14.00),
 ('volkswagen jetta', 14.20),
 ('plymouth reliant', 14.30),
 ('ford mustang cobra', 14.30),
 ('ford fiesta', 14.40),
 ('dodge colt hatchback custom', 14.40),
 ('dodge aries wagon (sw)', 14.40),
 ('honda prelude', 14.40),
 ('vw rabbit', 14.45),
 ('audi 100 ls', 14.50),
 ('buick century luxus (sw)', 14.50),
 ('volkswagen rabbit custom', 14.50),
 ('toyouta corona mark ii (sw)', 14.50),
 ('plymouth grand fury', 14.50),
 ('plymouth fury gran sedan', 14.50),
 ('chrysler lebaron medallion', 14.50),
 ('nissan stanza xe', 14.50),
 ('dodge omni', 14.50),
 ('ford mustang', 14.50),
 ('datsun pl510', 14.50),
 ('fiat 124b', 14.50),
 ('datsun 810', 14.50),
 ('volvo 145e (sw)', 14.50),
 ('ford thunderbird', 14.50),
 ('toyota mark ii', 14.50),
 ('audi 100ls', 14.50),
 ('volvo 244dl', 14.50),
 ('toyota corona', 14.55),
 ('fiat strada custom', 14.70),
 ('plymouth horizon miser', 14.70),
 ('datsun 510', 14.70),
 ('ford granada l', 14.70),
 ('amc gremlin', 14.75),
 ('datsun 200sx', 14.80),
 ('toyota celica gt liftback', 14.80),
 ('buick opel isuzu deluxe', 14.80),
 ('plymouth horizon tc3', 14.90),
 ('plymouth horizon 4', 14.90),
 ('datsun 200-sx', 14.90),
 ('capri ii', 14.90),
 ('volkswagen scirocco', 14.90),
 ('mercury cougar brougham', 14.90),
 ('pontiac firebird', 15.00),
 ('dodge colt (sw)', 15.00),
 ('toyota corona mark ii', 15.00),
 ('opel manta', 15.00),
 ('buick skyhawk', 15.00),
 ('amc spirit dl', 15.00),
 ('chevy c20', 15.00),
 ('datsun 510 hatchback', 15.00),
 ('chevrolet malibu classic (sw)', 15.00),
 ('ford f108', 15.00),
 ('chevrolet chevelle malibu classic', 15.00),
 ('amc concord d/l', 15.10),
 ('triumph tr7 coupe', 15.10),
 ('dodge st. regis', 15.20),
 ('maxda glc deluxe', 15.20),
 ('renault 12tl', 15.30),
 ('volkswagen rabbit l', 15.30),
 ('vokswagen rabbit', 15.30),
 ('volkswagen dasher', 15.37),
 ('pontiac lemans v6', 15.40),
 ('ford fairmont (man)', 15.40),
 ('opel 1900', 15.45),
 ('plymouth satellite custom', 15.50),
 ('toyota corona liftback', 15.50),
 ('plymouth arrow gs', 15.50),
 ('fiat 124 sport coupe', 15.50),
 ('fiat 131', 15.50),
 ('chevrolet vega 2300', 15.50),
 ('volvo 144ea', 15.50),
 ('toyota corona hardtop', 15.50),
 ('ford torino 500', 15.50),
 ('dodge colt', 15.53),
 ('amc matador', 15.58),
 ('pontiac phoenix', 15.60),
 ('ford mustang gl', 15.60),
 ('chevrolet malibu', 15.60),
 ('volvo 245', 15.70),
 ('saab 99gle', 15.70),
 ('honda civic (auto)', 15.70),
 ('honda accord', 15.75),
 ('honda civic', 15.80),
 ('audi 4000', 15.80),
 ('ford fairmont (auto)', 15.80),
 ('renault 18i', 15.80),
 ('ford mustang ii 2+2', 15.80),
 ('peugeot 604sl', 15.80),
 ('buick century special', 15.80),
 ('chevrolet nova', 15.83),
 ('audi 5000', 15.90),
 ('dodge colt m/m', 15.90),
 ('plymouth valiant', 15.95),
 ('mazda glc 4', 16.00),
 ('fiat x1.9', 16.00),
 ('dodge aries se', 16.00),
 ('plymouth duster', 16.00),
 ('buick skylark limited', 16.00),
 ('pontiac sunbird coupe', 16.00),
 ('plymouth valiant custom', 16.00),
 ('ford gran torino (sw)', 16.00),
 ('ford pinto (sw)', 16.00),
 ('honda civic 1300', 16.10),
 ('ford escort 4w', 16.20),
 ('pontiac ventura sj', 16.20),
 ('pontiac j2000 se hatchback', 16.20),
 ('datsun 310 gx', 16.20),
 ('toyota corolla', 16.26),
 ('amc hornet', 16.27),
 ('datsun 310', 16.40),
 ('ford fairmont futura', 16.40),
 ('chevrolet concours', 16.40),
 ('buick century limited', 16.40),
 ('plymouth champ', 16.40),
 ('ford pinto runabout', 16.50),
 ('audi fox', 16.50),
 ('datsun 610', 16.50),
 ('plymouth satellite sebring', 16.50),
 ('toyota corolla 1600 (sw)', 16.50),
 ('ford pinto', 16.52),
 ('honda accord lx', 16.60),
 ('chrysler lebaron salon', 16.60),
 ('dodge aspen 6', 16.60),
 ('buick skylark', 16.65),
 ('subaru', 16.65),
 ('mercury zephyr', 16.70),
 ('plymouth sapporo', 16.70),
 ('mercedes-benz 280s', 16.70),
 ('datsun f-10 hatchback', 16.80),
 ('toyota starlet', 16.90),
 ('honda civic cvcc', 16.95),
 ('dodge colt hardtop', 17.00),
 ('datsun 510 (sw)', 17.00),
 ('datsun b-210', 17.00),
 ('oldsmobile cutlass ciera (diesel)', 17.00),
 ('amc pacer', 17.00),
 ('ford granada gl', 17.10),
 ('plymouth volare', 17.20),
 ('subaru dl', 17.20),
 ('ford fairmont 4', 17.30),
 ('chevrolet camaro', 17.30),
 ('renault lecar deluxe', 17.30),
 ('mercury lynx l', 17.30),
 ('toyota tercel', 17.30),
 ('ford maverick', 17.32),
 ('cadillac eldorado', 17.40),
 ('fiat 128', 17.50),
 ('saab 99e', 17.50),
 ('oldsmobile starfire sx', 17.60),
 ('mazda glc custom', 17.60),
 ('plymouth volare custom', 17.70),
 ('dodge aspen se', 17.70),
 ('chevrolet chevette', 17.80),
 ('amc pacer d/l', 17.80),
 ('mazda glc', 17.90),
 ('mazda 626', 17.90),
 ('chevrolet cavalier 2-door', 18.00),
 ('volkswagen 411 (sw)', 18.00),
 ('datsun 710', 18.00),
 ('chevrolet nova custom', 18.00),
 ('renault 12 (sw)', 18.00),
 ('datsun 1200', 18.00),
 ('ford fairmont', 18.10),
 ('mazda glc custom l', 18.20),
 ('mercury zephyr 6', 18.20),
 ('amc concord dl 6', 18.20),
 ('toyota corolla liftback', 18.20),
 ('buick century', 18.40),
 ('hi 1200d', 18.50),
 ('honda accord cvcc', 18.50),
 ('pontiac astro', 18.50),
 ('chevroelt chevelle malibu', 18.50),
 ('ford ranger', 18.60),
 ('renault 5 gtl', 18.60),
 ('chevrolet cavalier wagon', 18.60),
 ('datsun b210 gx', 18.60),
 ('amc concord', 18.65),
 ('chevrolet vega', 18.67),
 ('dodge aspen', 18.70),
 ('toyota corolla tercel', 18.80),
 ('oldsmobile cutlass salon brougham', 18.85),
 ('chevrolet vega (sw)', 19.00),
 ('volkswagen model 111', 19.00),
 ('toyota carina', 19.00),
 ('ford granada', 19.00),
 ('oldsmobile cutlass ls', 19.00),
 ('plymouth fury', 19.00),
 ('datsun b210', 19.00),
 ('oldsmobile cutlass supreme', 19.00),
 ('datsun 210', 19.20),
 ('pontiac phoenix lj', 19.20),
 ('datsun 210 mpg', 19.40),
 ('chevy s-10', 19.40),
 ('mazda glc deluxe', 19.40),
 ('peugeot 304', 19.50),
 ('peugeot 504 (sw)', 19.50),
 ('chevrolet cavalier', 19.60),
 ('volvo diesel', 19.60),
 ('audi 5000s (diesel)', 19.90),
 ('toyota corolla 1200', 20.00),
 ('mercedes benz 300d', 20.10),
 ('peugeot 504', 20.30),
 ('peugeot 505s turbo diesel', 20.40),
 ('volkswagen 1131 deluxe sedan', 20.50),
 ('amc concord dl', 20.50),
 ('plymouth cricket', 20.50),
 ('ford escort 2h', 20.70),
 ('volkswagen super beetle', 21.00),
 ('ford granada ghia', 21.00),
 ('mercury monarch', 21.00),
 ('volkswagen rabbit custom diesel', 21.50),
 ('vw rabbit c (diesel)', 21.70),
 ('mercedes-benz 240d', 21.80),
 ('chevrolet woody', 22.10),
 ('volkswagen type 3', 23.50),
 ('vw dasher (diesel)', 23.70),
 ('vw pickup', 24.60)]