In [1]:
x = 1
y = 2
x + y

3

In [2]:
def add_members(x,y):
    return x + y
add_members(1, 3)

4

In [3]:
def add_numbers(x, y, z = None):
    if (z == None):
        return x + y
    else:
        return x + y + z
print (add_numbers(1,2))
print (add_numbers(1,2,3))

3
6

In [4]:
def add_numbers(x, y, z = None, flag = False):
    if(flag):
        print("Flag is True")
    if (z == None):
        return x + y
    else:
        return x + y + z
print(add_numbers(1, 2, flag = True))

Flag is True
3

In [5]:
x = (1, 'a', 2)
type(x)

tuple

In [6]:
x = [1, 'a', 20]
type(x)

list

In [7]:
x.append(3.3)
print(x)

[1, 'a', 20, 3.3]

In [8]:
for item in x:
    print(item)

1
a
20
3.3

In [9]:
i = 0
while ( i != len(x)):
    print(x[i])
    i = i + 1

1
a
20
3.3

In [14]:
x = 'This is a string'
print(x[0])
print(x[0:1])
print(x[0:2])

T
T
Th

In [16]:
x[-5]

't'

In [23]:
x[-8:-1]

'a strin'

In [26]:
x = {'Christopher Brooks': 'brooksch@unich.edu', 'Bill Gates': 'billg@microsoft.com'}
x['Christopher Brooks']

'brooksch@unich.edu'

In [27]:
x['Kevin Collins-Thompson'] = None
x['Kevin Collins-Thompson']

In [28]:
for name in x:
    print(x[name])

brooksch@unich.edu
billg@microsoft.com
None

In [29]:
for name, email in x.items():
    print(name)
    print(email)

Christopher Brooks
brooksch@unich.edu
Bill Gates
billg@microsoft.com
Kevin Collins-Thompson
None

In [30]:
x = ('Christopher', 'Brooks', 'broooksch@unich.edu')
fname, lname, email = x

In [31]:
fname

'Christopher'

In [32]:
lname

'Brooks'

In [37]:
print('Chris' + str(2))

Chris2

In [ ]:
sales_statement = {'price': 3.24,
                   'num_items': 4,
                   'Buyer': 'Chris'}
sales_statement = '{} bought {} item(s) at a price of {} each for a total ()'